<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" name="pass" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button  margin-top (click)="login()">Login</ion-button>
</ion-content>
