<ion-header>
  <ion-toolbar>
    <ion-title>
      Participant List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-fab #myFab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click) = "download()">
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
    <ion-searchbar type="text" debounce="200" (ionChange)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let participant of (participants)">
        <ion-grid>
          <ion-row>
            <h5>{{ participant.name }}     <small>(Unpaid : Rs. {{ participant.unpaidMoney }})</small></h5>
           
          </ion-row>
      <ion-row>
          <ion-list>
              <ion-item *ngFor="let event of participant.selectedEvents; let i = index" lines = "none">
                {{i+1}}. {{event.eventName}}
              </ion-item>
            </ion-list>
          
      </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>
